<%- include('C:/Users/aanai/Desktop/Developer/JS/html_templating_bootstrap/partials/head') %>


    <h1>Artists</h1>

    <% for(let art of artists) {%>
        <p>
            <%=art%>
        </p>
        <%}%>
            </body>

            </html>