<%- include('C:/Users/aanai/Desktop/Developer/JS/html_templating_bootstrap/partials/head') %>


    <%= num %>
        <% if(num % 2===0) {%>
            <h1>THE NUMBER IS EVEN</h1>
            <%} else {%>
                <h1>THE NUMBER IS ODD</h1>
                <%}%>
                    </body>

                    </html>